<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="assets/images/fisilogo.jpg" alt="Logo">
    </div>
    <div class="header-opciones">
      <a routerLink="/home" *ngIf="isAlumnoRol" [ngClass]="{'active': selectedOption === 'home'}"
        (click)="selectOption('home')">Home</a>
      <a routerLink="/home/calendar" *ngIf="isAlumnoRol" [ngClass]="{'active': selectedOption === 'calendar'}"
        (click)="selectOption('calendar')">Calendario</a>
      <a routerLink="/home/cursos" *ngIf="isAlumnoRol" [ngClass]="{'active': selectedOption === 'cursos'}"
        (click)="selectOption('cursos')">Mis Cursos</a>
      <a routerLink="/home/chat" *ngIf="isAlumnoRol" [ngClass]="{'active': selectedOption === 'chat'}"
        (click)="selectOption('chat')">Mi
        chat</a>
      <a routerLink="/home/cursoprofesor" *ngIf="isProfesorRol"
        [ngClass]="{'active': selectedOption === 'cursoprofesor'}" (click)="selectOption('cursoprofesor')">Profesor</a>
    </div>
  </div>
  <div class="header-right">
    <div class="header-notification">
      <button class="header-notification-button" (click)="toggleNotificationMenu()">
        <img src="assets/images/notificacion.svg" class="header-notification-icon" alt="Notification">
        <span class="notification-indicator" *ngIf="hasUnreadNotifications"></span>
      </button>
      <div class="notification-menu" *ngIf="isNotificationMenuOpen">
        <div class="notification-header">
          Notifications
        </div>
        <div class="notification-list">
          <div class="notification-item" *ngFor="let notification of notifications">
            {{ notification.message }}
          </div>
          <div class="empty-notification" *ngIf="notifications.length === 0">
            No hay notificaciones nuevas
          </div>
        </div>
        <div class="notification-footer">
          <a>Ver todos</a>
        </div>
      </div>
    </div>
    <div class="header-user">
      <div class="header-user-name">{{nombre}}</div>
      <a routerLink="/home/dashboard"><img class="header-user-icon" src="assets/images/user.svg" alt="User"></a>
    </div>
    <div class="header-logout" routerLink="/" (click)="salir()">
      <img class="header-logout-icon" src="assets/images/logout.svg" alt="Logout">
      <div class="header-logout-text">Salir</div>
    </div>
  </div>
</div>