.layout {
  display: grid;
  grid-template-areas:
    "bienvenido bienvenido bienvenido"
    "tarea-pendiente cursos-actuales proximos-eventos";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px 30px;
  margin: 30px;
  width: calc(100% - 60px); /* Adjust to account for margin */
  box-sizing: border-box;
}

.bienvenido {
  grid-area: bienvenido;
}

.tarea-pendiente {
  grid-area: tarea-pendiente;
}

.cursos-actuales {
  grid-area: cursos-actuales;
}

.proximos-eventos {
  grid-area: proximos-eventos;
}

@media (min-width: 1200px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .layout {
    grid-template-areas:
      "bienvenido bienvenido"
      "tarea-pendiente cursos-actuales"
      "proximos-eventos proximos-eventos";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 767px) {
  .layout {
    grid-template-areas:
      "bienvenido"
      "tarea-pendiente"
      "cursos-actuales"
      "proximos-eventos";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .bienvenido,
  .tarea-pendiente,
  .cursos-actuales,
  .proximos-eventos {
    width: 100%;
    overflow: hidden;
  }

  .proximos-eventos {
    grid-area: unset;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
  }
}
