<div class="course-grades-container">
  <h2>Historial Academico</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Semester Column -->
    <ng-container matColumnDef="semester">
      <th mat-header-cell *matHeaderCellDef> Semester </th>
      <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef> Course </th>
      <td mat-cell *matCellDef="let element"> {{element.course}} </td>
    </ng-container>

    <!-- Grade Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grade </th>
      <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>