<mat-tab-group animationDuration="0ms" class="selector-style">
  <mat-tab label="Semanas">
    <h1 class="encabezado">{{course?.nombrecurso}}</h1>

    <mat-accordion class="acordeon-style" *ngIf="semanas">
      <mat-expansion-panel *ngFor="let week of semanas" hideToggle class="acordeon-style">

        <mat-expansion-panel-header class="tam">
          <mat-panel-title>
            Semana {{ week.numerosemana}}
          </mat-panel-title>
          <mat-panel-description>
            {{week.tema}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <p>{{week.descripcion}}</p>
          <br>
          <h3><strong>Tareas</strong></h3>
          <ul>
            <li *ngFor="let task of week.tareas">
              Tarea: {{ task.descripcion}}
            </li>
          </ul>
          <h3><strong>Materiales</strong></h3>
          <ul>
            <li *ngFor="let material of week.materiales">
              {{ material.descripcion}} <a [href]="material.url" target="_blank">{{ material.tipo }}</a>
            </li>
          </ul>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>

  <mat-tab label="Personas">
    <h1 class="encabezado">Compañeros de clase</h1>
    <div class="user-list">
      <!--div class="user-item" *ngFor="let alumno of course?.alumnos">
        <div class="user-info">
          <mat-icon>person</mat-icon>
          <span class="user-name uppercase">{{alumno.nombreAlumno}}</span>
        </div>
        <button mat-icon-button (click)="sendMessage(alumno.correo)">
          <mat-icon>email</mat-icon>
        </button>
      </!--div-->
    </div>
  </mat-tab>

  <mat-tab label="Recursos">
    <h1 class="encabezado">Recursos adicionales para el curso</h1>

    <!--mat-accordion class="acordeon-style" *ngIf="course?.weeks">

      <mat-expansion-panel hideToggle class="acordeon-style">
        <mat-expansion-panel-header class="tam">
          <mat-panel-title>
            Silabo
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          Silabo: <a [href]="course?.rutaSilabo" target="_blank">{{ course?.rutaSilabo }}</a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle class="acordeon-style">
        <mat-expansion-panel-header class="tam">
          <mat-panel-title>
            Libros
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let libro of course?.rutasLibros">
          {{ libro.nombreLibro }}: <a [href]="libro.ruta" target="_blank">{{ libro.ruta }}</a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle class="acordeon-style">
        <mat-expansion-panel-header class="tam">
          <mat-panel-title>
            Articulos
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let articulo of course?.rutasArticulos">
          {{ articulo.nombreArticulo }}: <a [href]="articulo.ruta" target="_blank">{{ articulo.ruta }}</a>
        </div>
      </mat-expansion-panel>

    </!--mat-accordion-->





  </mat-tab>
</mat-tab-group>