<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/home/cursos/all" routerLinkActive="active">Todos los Cursos</a>
      <a mat-list-item routerLink="/home/cursos/biblioteca" routerLinkActive="active">Biblioteca</a>
      <ng-container *ngFor="let course of courses">
        <div class="course-item">
          <div class="course-icon" [ngStyle]="{'background-color': course.color}">
            {{ course.nombrecurso.charAt(0) }}
          </div>
          <a mat-list-item [routerLink]="['/home/cursos/detalles', course.nombrecurso]" routerLinkActive="active">
            <div class="course-details">
              <span class="course-name">{{ course.nombrecurso}}</span>
              <span class="horario">{{ course.horario }}</span>
            </div>
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>