.container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 7px 7px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "Profile Grafica"
    "Profile Acceso-Rapido";
  margin: 20px;
  /* Add margin to the container */
}

.Grafica,
.Acceso-Rapido,
.Profile {
  padding: 20px;
  /* Add padding to each grid area */
  background-color: #f8f8f8;
  /* Optional: Add a background color for better visibility */
  border-radius: 8px;
  /* Optional: Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle shadow */
}

.Grafica {
  grid-area: Grafica;
}

.Acceso-Rapido {
  grid-area: Acceso-Rapido;
}

.Profile {
  grid-area: Profile;
}