.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "Profile"
    "Grafica";
  margin: 20px;
  margin-bottom: 0;
  height: 100vh;
  /* Ensure the container takes the full viewport height */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

@media (min-width: 768px) {

  /* For tablets and larger screens */
  .container {
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    /* Make rows flexible to fill the height */
    grid-template-areas: "Profile Grafica";
  }
}

.Grafica,
.Profile {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Grafica {
  grid-area: Grafica;
}

.Profile {
  grid-area: Profile;
}