<div class="panel-container pading">
  <div class="panel">
    <a href="https://sisbib.unmsm.edu.pe/" target="_blank">
      <div class="image-container">
        <img [src]="currentImage1" alt="Imagen 1" class="current" [class.animate-out]="animateImage1">
        <img [src]="nextImage1" alt="Imagen 1" class="next" [class.animate-in]="animateImage1">
      </div>
      <div class="panel-text">Biblioteca Central Pedro Zulen</div>
    </a>
  </div>
  <div class="panel">
    <a href="https://sistemas.unmsm.edu.pe/site/index.php" target="_blank">
      <div class="image-container">
        <img [src]="currentImage2" alt="Imagen 2" class="current" [class.animate-out]="animateImage2">
        <img [src]="nextImage2" alt="Imagen 2" class="next" [class.animate-in]="animateImage2">
      </div>
      <div class="panel-text">Facultad De Ingeniería de Sistemas</div>
    </a>
  </div>
</div>