
<div class="login-container">
  <div class="login-card">
    <h1 class="title">Fisi Classroom</h1>
    <h2 class="subtitle">Ingrese sus datos</h2>
    <form>
      <div class="input-container">
        <div class="icon">
          <i class="fas fa-envelope"></i>
        </div>
        <input type="email" placeholder="Ingresa tu correo" required>
      </div>
      <div class="input-container">
        <div class="icon">
          <i class="fas fa-lock"></i>
        </div>
        <input id="password" [type]="passwordFieldType" placeholder="Ingresa tu contraseña" required>
        <div class="toggle-visibility" (click)="togglePasswordVisibility()">
          <i class="fas" [ngClass]="{'fa-eye-slash': passwordFieldType === 'password', 'fa-eye': passwordFieldType === 'text'}"></i>
        </div>
      </div>
      <button type="submit" (click)="irAHome()">Login</button>
    </form>
  </div>
</div>


