h1 {
    margin-top: 15px;
    margin-left: 70px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #157DD3;
}

form {
    width: 76%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

mat-form-field {
    width: 240px; /* Ajusta el ancho según tus necesidades */
    text-align: center;
    margin-right: 1rem; /* Espacio entre los campos */
    margin-bottom: 1rem;
}

button{
    max-width: 200px;
}

textarea {
    height: 500px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 320px;
}

.task-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
}

.dynamic-form {
    margin-top:30px;
    width: 76%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.dynamic-form .form-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.task-actions {
    margin-left: 410px;
    margin-top: 0.5rem;
}


.guardarT{
    margin-top:40px;
    font-size:18px;
    color: #FFFFFF;
    background-color: #8D959C;
}

.task-actions button {
    margin-left: 0.5rem;
}

.form-title{
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
}